@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
  background-color: #F7F2E9;
  color: #4A403A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
